@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

 @import 'shared/variable';
 @import "~bootstrap";


 html, body {
    font: $primary-font, sans-serif;
}
.alert{
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0;

    &.alert-success {
        background-color: green;
    }

    &.alert-error {
        background-color: red;
    }
    &.alert-info {
        background-color: orange;
    }
}

.vich-image {
    .form-check {
        @extend .mt-3
    }
    .vich-image img{
        @extend .mb-2;
        @extend .rounded;
        @extend .shadow;
        @extend .img-thumbnail;
    }
}

.pos img{
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
        cursor:  pointer;
    }
}