{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h2>Nouveau Point de vente</h2>
			{{ include('pointofsale/_form.html.twig')}}
		</div>
	</div>
{% endblock %}