{% extends 'base.html.twig' %}

{% block title pointOfSale.name %}

{% block body %}
	<article>
    	<h1>{{ pointOfSale.name }}</h1>
    	<p>{{ pointOfSale.place }}</p>
    	<p>{{ pointOfSale.detail }}</p>
	</article>
	<a href="{{ path('app_pointofsale_index') }}">Go back</a>

    
{% endblock %}